<html>

<head>
    <title>StockPredictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>
    <div id="title">
        <a href="/">
            <h1> Stock Predictor </h1>
        </a>
    </div>

    <button onclick="window.location.href='basic';" style="margin-left: 20%; margin-right: 10%; " class="menuBtn">Basic
    </button>

    <button onclick="window.location.href='advanced';" style="margin-left: 10%; background-color: #201F58;"
        class="menuBtn">Advanced
    </button>

    <div style="font-size: 200%;" class="DataContainer">

        <div class="table">

            <div class="threeRow">

                <div class="box">

                    <div id="form-wrapper">
                        <form action="/advancedUploader" method="POST" enctype="multipart/form-data">
                    </div>

                    Enter title
                    <br>
                    <input type="text" value="" name="title">

                </div>

                <div class="box">
                    Set number of input batches
                    <div class="slidecontainer">
                        <input type="range" min="1" max="100" value="50" class="slider" name="inputBatches" id="myRange">
                    </div>
                    <div id="valueContainer">
                        <span id="value"> value: </span>
                    </div>
                </div>

                <div style="border-right: 0px;" class="box">
                    <label for="stocks">Layer activiation functions</label><br>
                    <select style="width: 20%;" name="activationFunction">
                       
                        <option value="relu">relu
                        </option>
                        <option value="sigmoid">sigmoid
                        </option>
                        <option value="softmax">softmax
                        </option>
                        <option value="softplus">softplus
                        </option>
                        <option value="softsign">softsign 
                        </option>
                        <option value="tanh">tanh 
                        </option>
                        <option value="selu">selu
                        </option>
                        <option value="elu">elu
                        </option>
                        <option value="exponential">exponential 
                        </option>    
                    </select>
                </div>

            </div>

            <div class="threeRow">
                <div class="box">


                    Upload training data
                    <br>
                    <input type="file" name="trainingData" required/>


                </div>
                <div class="box">
                    <label for="stocks">Set number of output batches:</label><br>
                    <select style="width: 20%;" name="outputBatches">

                        <option value="1">1
                        </option>
                        <option value="2">2
                        </option>
                        <option value="3">3
                        </option>
                        <option value="4">4
                        </option>
                        <option value="5">5
                        </option>
                        <option value="6">6
                        </option>
                    </select>
                </div>

                
                <div style="border-right: 0px;" class="box">
                    <label for="stocks">Loss function:</label><br>
                    <select style="width: 20%;" name="lossFunction">
                        <option selected value="mse">mse
                        </option>
                        <option value="2">2
                        </option>
                        <option value="3">3
                        </option>
                        <option value="4">4
                        </option>
                    </select>
                </div>
                
            </div>

            <div class="threeRow">

                <div class="box">
                    
                    Upload prediction data
                    <br>
                    <input type="file" name="predictionData" />


                </div>


                
                <div class="box">
                    Enter number of epochs
                    <br>
                    <input type="text" value="100" name="epochs" required>
                </div>

                <div style="border-right: 0px;" class="box">
                    <label for="stocks">Stacked Layers</label><br>
                    <select style="width: 20%;" name="stackedLayers">

                        <option value="Yes">Yes
                        </option>
                        <option value="No">No
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br>
    <input class="DataContainer" value="GO" type="submit" />
    </form>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>