<html>

<head>
  <title>StockPredictor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <div id="title">
    <a href="/"><h1> Stock Predictor </h1></a>
  </div>

  <button onclick="window.location.href='basic';" style="margin-left: 20%; margin-right: 10%; background-color: #201F58;" class="menuBtn">Basic </button>
  <button onclick="window.location.href='advanced';" style="margin-left: 10%; " class="menuBtn">Advanced</button>

  
  <div style="font-size: 2.50vw; text-decoration: underline white 3px; " class="DataContainer">


    <div class="table">
      <div class="row">

        <div class="box">
          <div id="form-wrapper">
          <form action="/basicUploader" method="POST" enctype="multipart/form-data">
            </div>
          <label for="stocks">Choose a common stock:</label><br>

          <select style="width: 20%;" name="dropDownStock" id="dropDownStock">
            <option value=""></option>
            <option value="GOOGL">GOOGL</option>
            <option value="MRO">MRO</option>
            <option value="KGF">KGF</option>
            <option value="VOD">VOD</option>
          </select>

        </div>

        <div class="box">
          Enter Stock ticker
          <br>
          <input type="text" value="AAPL" name="textBoxStock">
        </div>

        <div style="border-right: 0px;" class="box">
          Upload stock data
          <br>
          <input type="file" name="stockData" />
        </div>

      </div>
    </div>
  </div>

  <input class="DataContainer" value="GO" type="submit" />
  </form>

</body>
