<head>
  <title>StockPredictor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>
  <div id="title">
      <a href="/">
          <h1> Stock Predictor </h1>
      </a>
  </div>

  <button onclick="window.location.href='basic';" style="margin-left: 20%; margin-right: 10%; " class="menuBtn">Basic
  </button>

  <button onclick="window.location.href='advanced';" style="margin-left: 10%;"
      class="menuBtn">Advanced
  </button>


 


  <div style="height: 15%;" class="DataContainer">
    <div class="subTitle subTitle2" >
      <p >Data Error</p></div>
</div>
   
  <div style="margin-top:1%;"class="DataContainer"  >
    <p> {{message}}</piv>
  </div>


</body>
