<head>
  <title>StockPredictor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>
  <div id="title">
      <a href="/">
          <h1> Stock Predictor </h1>
      </a>
  </div>

  <button onclick="window.location.href='basic';" style="margin-left: 20%; margin-right: 10%; " class="menuBtn">Basic
  </button>

  <button onclick="window.location.href='advanced';" style="margin-left: 10%;"
      class="menuBtn">Advanced
  </button>


  <div style="height: 15%;" class="DataContainer">
    <div class="subTitle subTitle2" >
      <p >Help</p></div>
</div>
   
  <div style="margin-top:1%;"class="DataContainer"  >
    <p id="helpText">
    Input Batches - The number of days to be predicted on 
    <br>
    Output Batches - The number of predicted days
    <br>
    Training data - The data that the LSTM trains off
    <br>
    Prediction data- The data that is used to generate predictions
    <br>
    Epochs- Number of times the LSTM runs throught the training data
    <br>
    Activation Function Layer - Activation function decides, whether a neuron should be activated
    <br>
    Loss Function - The difference between the actual output and the predicted output from the model.  
    <br> 
    Stacked Layers - Allows LSTM layer outputs to be used as an input to a subsequent LSTM layer.
    </p>
  </div>


</body>
