<!DOCTYPE html>
<html>

<head>
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="/static/js/training.js"></script>
  <title>StockPredictor</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<body>
  <div id="title">
    <a href="/">
      <h1> Stock Predictor </h1>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </a>
  </div>

  <button onclick="window.location.href='basic';" style="margin-left: 20%; margin-right: 10%; " class="menuBtn">Basic
  </button>

  <button onclick="window.location.href='advanced';" style="margin-left: 10%;" class="menuBtn">Advanced
  </button>



  </head>

  <body>


    <div style="height: 50%;" class="DataContainer">
      <h2> Training</h2>
      <div id="log"></div>
    </div>

    <form action="/advancedProgress" style="height: 20%;" method="POST" enctype="multipart/form-data">
    <input id="button" style="height: 100%; display: none;" class="DataContainer" value="GO" type="submit" />
    </form>





  </body>

</html>